AWS_ACCESS_KEY_ID=your_aws_access_key_id_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key_here
AWS_REGION=eu-north-1
S3_BUCKET_NAME=s3-tut01
FRONTEND_ORIGIN=http://localhost:5173
PRESIGNED_URL_EXPIRES_SECONDS=3600
